# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog.

title: Ersu's Lab
email:
description: "AI & Neuroscience Learning Log"
# Sosyal medya kullanıcı adlarını boş bıraktım
twitter_username: 
github_username: cemersu
minimal_mistakes_skin: dark # Karanlık Mod
search: true

# Sitenin Adresi
url: "https://cemersu.github.io"

# Build settings (MATEMATİK AYARI)
markdown: kramdown
kramdown:
  input: GFM
  math_engine: mathjax # Matematik motoru
  syntax_highlighter_opts:
    block:
      line_numbers: true

remote_theme: mmistakes/minimal-mistakes

# Outputting
permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/
timezone: Europe/Istanbul

include:
  - _pages

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name: "Cem ERSU"
  avatar: "/assets/images/ersu.jpg"
  bio: "AI & Neuroscience Learning Log"
  # Sosyal medya linkleri silindi
  links: []

footer:
  # Footer linkleri silindi
  links: []

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
