# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog.

title: Ersu's Lab
email:
description: "AI & Neuroscience Learning Log"
twitter_username: 
github_username: cemersu
minimal_mistakes_skin: dark
search: true

# URL Ayarı
url: "https://cemersu.github.io"

# 1. MATEMATİK MOTORU AYARI (Kritik)
markdown: kramdown
kramdown:
  input: GFM
  math_engine: mathjax
  syntax_highlighter_opts:
    block:
      line_numbers: true

remote_theme: mmistakes/minimal-mistakes

# Outputting
permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/
timezone: Europe/Istanbul

include:
  - _pages

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

# 2. PROFİL FOTOĞRAFI AYARI
# BURAYA DİKKAT: Dosya ismin GitHub'da tam olarak neyse (JPG, jpeg, png) aynısını yaz!
author:
  name: "Cem ERSU"
  avatar: "/assets/images/cem.jpg"
  bio: "AI & Neuroscience Learning Log"
  links: []

footer:
  links: []

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      mathjax: true # <-- İŞTE BU SATIR MATEMATİĞİ ZORLA AÇAR!
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
